.header {
  display: flex;
  align-items: center;

  img {
    width: 3.8vw;

    @media screen and (max-width: 980px) {
      width: 11vw;
      height: auto;
    }
  }

  .title-group {
    margin-left: auto;
    padding-left: 25px;

    a {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 10px;
      }
    }
  }
}
